@font-face {
  font-family: "Expansiva";
  src: url(/Fonts/Expansiva/Expansiva.otf);
}

@font-face {
  font-family: "Expansiva Bold";
  src: url(/Fonts/Expansiva/Expansiva-bold.otf);
}

:root {
  --purple: #7161F5;
  --purple-blue: #626CF5;
  --purple-blue-lighter: #6286F5;
  --turquoise: #62F5E6;
  --green: #61F570;
  --yellow: #E6F561;
  --red: #F57061;
  --darker: #040117;
  --dark: #07032E;
  --light: #F5F4FE;
  --lighter: #FFFFFF;
  --background-text: rgba(113, 97, 245, 0.05);
  --grey-text: #ABABAB;
  --body-font: 'obvia';
  --header-font: 'Expansiva';
  --header-font-bold: 'Expansiva Bold';
  --normal-font-size: 1rem;
  --small-font-size: 0.85rem;
  --main-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
        100px 100px 80px rgba(0, 0, 0, 0.02);
  --hover-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.1),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.072),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.05),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.04),
        100px 100px 80px rgba(0, 0, 0, 0.028);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  margin: auto;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--darker)), to(var(--dark)));
  background-image: linear-gradient(to right, var(--darker), var(--dark));
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--light);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-family: var(--header-font-bold);
  color: var(--light);
  font-size: 3.052rem;
}

h2,
h3 {
  font-family: var(--header-font);
  color: var(--grey-text);
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-family: var(--header-font);
  color: var(--yellow);
  font-size: 1.563rem;
}

h5 {
  font-family: var(--header-font);
  color: var(--light);
  font-size: 1.25rem;
}

p {
  font-family: var(--body-font);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1468px;
}

#section-a {
  background-image: url(/Images/Backgrounds/Piotr-Bania.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#section-a h1 {
  color: var(--light);
}

#section-b .container {
  background-image: url(/Images/Backgrounds/Portfolio.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-c .container {
  background-image: url(/Images/Backgrounds/Lab.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-d .container {
  background-image: url(/Images/Backgrounds/Skills.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-e .container {
  background-image: url(/Images/Backgrounds/About.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-f .container {
  background-image: url(/Images/Backgrounds/Contact.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-b,
#section-d,
#section-f {
  background: -webkit-gradient(linear, right top, left top, from(var(--darker)), to(var(--dark)));
  background: linear-gradient(to left, var(--darker), var(--dark));
  padding: 100px 0;
}

#section-b h1,
#section-d h1,
#section-f h1 {
  color: var(--light);
}

#section-c,
#section-e {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--lighter)), to(var(--light)));
  background-image: linear-gradient(to right, var(--lighter), var(--light));
  padding: 100px 0;
}

#section-c h1,
#section-c h5,
#section-e h1,
#section-e h5 {
  color: var(--dark);
}

#section-c p,
#section-e p {
  color: var(--grey-text);
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 5%;
  top: 5%;
  z-index: 100;
}

.open-menu {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  padding: 7px;
  cursor: pointer;
  z-index: 98;
}

.closed-menu {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  padding: 7px;
  cursor: pointer;
  z-index: 98;
}

#nav-content {
  position: fixed;
  right: 0;
  top: 0;
  width: 75%;
  height: 100%;
  max-width: 600px;
  z-index: 99;
  background-color: rgba(11, 4, 69, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: 0.5s ease transform;
  transition: 0.5s ease transform;
}

#nav-content a {
  display: inline-block;
  width: 100%;
  color: var(--light);
  font-size: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav-content a:hover {
  color: var(--yellow);
}

#nav-content.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0px 0px 7.8px rgba(0, 0, 0, 0.053), 0px 0px 17.2px rgba(0, 0, 0, 0.078), 0px 0px 28.8px rgba(0, 0, 0, 0.096), 0px 0px 43.4px rgba(0, 0, 0, 0.111), 0px 0px 62.6px rgba(0, 0, 0, 0.125), 0px 0px 88.6px rgba(0, 0, 0, 0.139), 0px 0px 125.7px rgba(0, 0, 0, 0.154), 0px 0px 182.5px rgba(0, 0, 0, 0.172), 0px 0px 281.3px rgba(0, 0, 0, 0.197), 0px 0px 500px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 7.8px rgba(0, 0, 0, 0.053), 0px 0px 17.2px rgba(0, 0, 0, 0.078), 0px 0px 28.8px rgba(0, 0, 0, 0.096), 0px 0px 43.4px rgba(0, 0, 0, 0.111), 0px 0px 62.6px rgba(0, 0, 0, 0.125), 0px 0px 88.6px rgba(0, 0, 0, 0.139), 0px 0px 125.7px rgba(0, 0, 0, 0.154), 0px 0px 182.5px rgba(0, 0, 0, 0.172), 0px 0px 281.3px rgba(0, 0, 0, 0.197), 0px 0px 500px rgba(0, 0, 0, 0.25);
}

#nav-content .section-heading {
  text-align: left;
  font-size: 3rem;
  font-family: var(--header-font-bold);
  color: var(--green);
  padding-bottom: 20px;
}

#nav-content .wrapper {
  width: 70%;
  position: relative;
}

#nav-content .closed-menu {
  position: absolute;
  left: 5%;
  top: 5%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.text {
  color: var(--light);
}

.cursor {
  color: var(--yellow);
}

strong {
  color: var(--purple-blue);
}

b {
  font-family: var(--header-font-bold);
  color: var(--green);
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--light);
}

a {
  color: var(--light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--green);
}

span {
  color: var(--purple);
}

button {
  border-radius: 20px 5px 10px 10px;
  padding: 15px 25px;
  margin-top: 20px;
  border: 1px solid var(--darker);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--darker)));
  background-image: linear-gradient(to right, var(--purple), var(--darker));
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--dark)));
  background-image: linear-gradient(to right, var(--purple), var(--dark));
  -webkit-box-shadow: var(--hover-shadow);
          box-shadow: var(--hover-shadow);
}

.progressSection {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 1px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  will-change: transform;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 90;
}

.progressBarWrap {
  position: relative;
  width: 1px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--purple);
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
}

.progressBar {
  position: absolute;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  bottom: 0;
  width: 3px;
  border: 1px solid var(--green);
  border-radius: 10px;
  height: 0%;
  background-color: var(--green);
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
}

.progressNum {
  color: var(--grey-text);
  position: fixed;
  right: 10px;
  bottom: 0;
}

.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: rgba(113, 97, 245, 0.2);
  z-index: 90;
}

.one {
  left: 26.66%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 26.66%;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .open-menu,
  .closed-menu {
    width: 50px;
    height: 50px;
  }
  #nav-content .section-heading {
    font-size: 2rem;
  }
  #nav-content a {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.383rem;
  }
  h2 {
    font-size: 1.296rem;
  }
  h3 {
    font-size: 1.215rem;
  }
  h4 {
    font-size: 1.138rem;
  }
  h5 {
    font-size: 1.067rem;
  }
  p {
    font-size: var(--small-font-size);
  }
  button {
    border-radius: 17px 3px 7px 7px;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: var(--small-font-size);
  }
}
/*# sourceMappingURL=styles.css.map */